<section id='how'>
	<h2>How it works</h2>
	<div id="how-wrapper">
		<p>
			Want to join a startup accelerator or get funding from an angel investor? Our structured mentorship will help you identify and resolve any red flags in your business model so that you can move forward with confidence.
		</p>
		<h3>1 Week of Preparation</h3>
		<p>We will help you break down your business model into it's key elements.</p>
		<a class="more"></a>
		<div class="info">
			<p>
				Your first step will be to fill out a Google Form by answering questions about your business. We will then use your answers to create a <a href="https://www.ziqquforge.com/">Ziqqu Forge</a> "story". This means that each assertion of your business model will get it's own webpage where you can attach evidence to back it up or comment on it. We will help you get started using Ziqqu Forge, and from there you may add more to your business model to prepare it for your mentor's first review.
			</p>
		</div>
		<h3>4 Weeks of Mentorship</h3>
		<p>Mentors at Fruition will analyse and critique your business model twice a week.</p>
		<a class="more"></a>
		<div class="info">
			<p>
				You'll let us know which day's you want to be reviewed, and on those days your assigned mentor will go through your Ziqqu Forge profile and provide feedback. This feedback will always be tailored to point out the strengths and weaknesses your specific startup, but we generally structure our mentorship according the schedule below.
			</p>
			<ul>
				<li>
					<h6>Week 1: Define the Foundation</h6>
					<p>
						Gather evidence to support your business model and make sure you have a strong grasp of your industry. How do you know that your startup fits where the industry is heading?
					</p>
				</li>
				<li>
					<h6>Week 2: Create Value</h6>
					<p>
						Hone in on validating your value proposition. Do you understand what motivates your customers?
					</p>
				</li>
				<li>
					<h6>Week 3: Focus your Execution Plan</h6>
					<p>
						Find out how to execute the simplest version of your product/service that can make money. What do you need to make your first sale or pre-sale?
					</p>
				</li>
				<li>
					<h6>Week 4: Evaluate your Pitch and Offering</h6>
					<p>
						Bring everything together into a clear, compelling pitch. What questions will you have to answer before an investor is ready to make a deal?
					</p>
				</li>
			</ul>
		</div>
		<h3>Execute with Confidence</h3>
		<p>Use your refined business model to make stuff happen!</p>
		<a class="more"></a>
		<div class="info">
			<p>
				After the 4 weeks of mentorship, all feedback and activity will remain on your Ziqqu Forge profile history. You can even use Ziqqu Forge to continue working on your business model and invite feedback from others.
			</p>
			<h6>Use your refined business model to:</h6>
			<ul>
				<li>
					<p>Apply to startup accelerators/incubators.</p>
				</li>
				<li>
					<p>Pitch to investors or apply for a loan.</p>
				</li>
				<li>
					<p>Launch a minimum viable product.</p>
				</li>
				<li>
					<p>Attract partners and employees.</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<section id='who'>
	<h2>Who we are</h2>
	<div id="who-wrapper">
		<%= image_tag("fruition-logo.png", :alt => "Fruition Technology Labs", :id => "fruition") %>
		<p>
			Get regular feedback from mentors at Fruition Technology Labs, a cutting-edge business incubator located in Texas.
		</p>
		<a href="http://www.fruitiontechlabs.com/" target="_blank"><div class="visit">visit website</div></a>
		<table>
			<tr>
				<td>
					<%= image_tag("sean_guillory.jpg", :alt => "Sean Guillory", :id => "sean") %>
				</td>
				<td>
					<h4>
						"Wes is currently my business mentor for a neuroscience service business that I'm starting up. Since day one, he has helped me improve my business acumen while nurturing the knowledge and excitement that I have in getting this work to help a lot of people. Wes has been a mentor in the truest sense of the word and he just has this ineffable quality to make one want to continually work harder. I give Wes my highest recommendation and thank him and Fruition Technology Labs for believing in my mission." 
					</h4>
					<h5>-Sean Guillory</h5>
				</td>
			</tr>
		</table>
		<div id="line"></div>
		<%= image_tag("ziqqu-logo.png", :alt => "Ziqqu Forge", :id => "ziqqu") %>
		<p>
			Ziqqu Forge makes it easy to collaborate on business models online. It gives entrepreneurs a space where they can outline the key assertions of their business model and mentors can provide direct feedback.
		</p>
		<a href="https://www.ziqquforge.com/" target="_blank"><div class="visit">visit website</div></a>
		<%= image_tag("ziqqu-comments.png", :alt => "A screen capture of a mentor and entrepreneur collaborating on Ziqqu Forge.", :id => "comments") %>
	</div>
</section>
	
<section id='buy'>
	<h2>Get started</h2>
	<div id="buy-wrapper">
		<button type="button" id="buy-button">$250<br>Let's do this!</button>
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script>
  			var handler = StripeCheckout.configure({
    			key: 'pk_live_cmTN0iRE9yLjrPkSPTrtjGjr',
    			token: function(token) {
		    	}
  			});
			$('#buy-button').on('click', function(e) {
				handler.open({
      				name: 'Startup Soap',
      				description: '1 month of mentorship (We are testing this website right now. Do not use this form!)',
      				amount: 250,
      				allowRememberMe: false
    			});
    			e.preventDefault();
  			});
			$(window).on('popstate', function() {
				handler.close();
  			});
		</script>
		<table>
			<tr>
				<td>
					<%= image_tag("elon-musk.jpg", :alt => "A picture of Elon Musk smiling with the Telsa Motors logo behind him.", :id => "elon") %>
				</td>
				<td>
					<h4>
						"Constantly seek criticism. A well thought out critique of whatever you're doing is as valuable as gold." 
					</h4>
					<h5>-Elon Musk</h5>
				</td>
			</tr>
		</table>
	</div>
</section>
<section id='faq'>
		<h2>FAQ</h2>
		<div id="faq-wrapper">
			<ul>
				<li>
					<h3>What will I get out of this?</h3>
					<p>
						You will get a 4 weeks of structured feedback from an experienced startup mentor and a Ziqqu Forge profile that will keep track of all of your business model collaboration.
					</p>
				</li>
				<li>
					<h3>How much work is it?</h3>
					<p>
						We suggest that you plan for at least You will get what you put in to this. The mentor will review your business model twice a week, and you will be expected to have something new to show them each time. Whether you want to simply reply to their comments, or do extensive research and pivot your plan based on their suggestions, the effort you put in between each review is up to you and what you need to get out of this. 
					</p>
				</li>
				<li>
					<h3>What if I don't agree with some of the feedback I get?</h3>
					<p>
						Debate with them! If you are right, you should be able to prove it with evidence and a sound argument. Helping you get to what's important is the mentors job, and hashing things out is an important part of the process. However, if you ever feel like the quality of mentorship is not up to your standards, you can always cancel your membership and be refunded $62.50 for each week of leftover mentorship.
					</p>
				</li>
				<li>
					<h3>Can I invite others to help me?</h3>
					<p>
						Yes! Ziqqu Forge gives your business model an online profile that you can invite anyone to review.
					</p>
				</li>
				<li>
					<h3>What if I want a phone call or additional help?</h3>
					<p>
						Fruition also offers other mentorship services such as phone consultation. They even have an intense 3 month startup coaching program based on their <em>5 Simple Steps to the Fruition Process ™</em>.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>