<section class="dark-section">
	<div class="content">
		<h2>
			The Problem
		</h2>
		<h4>
			Investors & Startup Accelerators will ignore you at the first red flag.
		</h4>
		<p> 
			You need quality mentorship to catch any red flags before it's too late. 
			The problem is that many startup mentors volunteer at startup incubators/accelerators that only accept top startups. 
			This essentially means that you need a near-perfect business model to get help with your business model.
		</p>
		<h2>
			We are Different
		</h2>
		<h4>
			Our mentors love helping early stage startups.
		</h4>
		<p>
			We except any early stage startup and we don't take any equity. 
			It's $70 for your initial business model review, and afterwards you can choose to get a month of follow-up mentorship for $250. 
			<%= link_to "Check here", get_started_path %> to see if we are currently accepting new startups.
		</p>
	</div>
</section>
<section>
	<div class="content">
		<h2>
			Who we are
		</h2>
		<%= link_to('http://www.fruitiontechlabs.com/', :target => '_blank') do %>
			<%= image_tag("fruition-logo.png", :alt => "Fruition Technology Labs", :id => "fruition") %>
		<% end %>
		<p>
			Get regular feedback from mentors at Fruition Technology Labs, a cutting-edge business incubator located in Texas.
		</p>
		<a href="http://www.fruitiontechlabs.com/" target="_blank"><div class="visit">visit website</div></a>
		<div class="quote">
			<div class="quote-pic">
				<%= image_tag("sean_guillory.jpg", :alt => "Sean Guillory", :id => "sean") %>
			</div>
			<div class="quote-text">
				<h4>
					"Wes has been a mentor in the truest sense of the word and he just has this ineffable quality to make one want to continually work harder. I give Wes my highest recommendation and thank him and Fruition Technology Labs for believing in my mission." 
				</h4>
				<h5>
					-Sean Guillory (Fruition Member)
				</h5>
			</div>
		</div>
		<div class="line"></div>
		<%= link_to('https://www.ziqquforge.com/', :target => '_blank') do %>
			<%= image_tag("ziqqu-logo.png", :alt => "Ziqqu Forge", :id => "ziqqu") %>
		<% end %>
		<p>
			Ziqqu Forge makes it easy to collaborate on business models online. It gives entrepreneurs a space where they can outline the key assertions of their business model and mentors can provide direct feedback.
		</p>
		<a href="https://www.ziqquforge.com/" target="_blank"><div class="visit">visit website</div></a>
		<%= image_tag("ziqqu-comments.png", :alt => "A screen capture of a mentor and entrepreneur collaborating on Ziqqu Forge.", :id => "comments") %>
	</div>
</section>