<header>
	<nav>
	<%= link_to root_path do%>
		<%=  image_tag("logo.svg", :alt => "Logo for Startup Soap", :id => "logo") %>
	<% end %>
	<a href="#" id="menu-button"></a>
		<ul>
			<li>
				<%= link_to root_path, :id => "program" do %>
					Program
				<% end %>
			</li
    		><li>
    			<%= link_to mentorship_path, :id => "mentorship" do %>
					Mentorship
				<% end %>
    		</li
    		><li>
    			<%= link_to faq_path, :id => "faq" do %>
					FAQ
				<% end %>
    		</li
    		><li>
    			<%= link_to get_started_path, :id => "getStarted" do %>
					Get Started
				<% end %>
    		</li>
    	</ul>
	</nav>
	<h1>Clean up your business model with a month of mentorship.</h1>
</header>